In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\tiruv\Downloads\Job Datsset.csv")

In [2]:
df.head()

,User_ID,Job_ID,User_Skills,Job_Requirements,Match_Score,Recommended
0,1,16,"Python, C++, Machine Learning","SQL, CSS, AI, JavaScript, Data Science",0.620421,0
1,2,30,"AI, Python, Data Science","AI, Data Science, SQL, Python, CSS",0.823451,1
2,3,319,"CSS, Python, Machine Learning","SQL, AI, Python",0.703830,0
3,4,399,"SQL, Machine Learning, C++","Java, AI, Python, Data Science, Machine Learning",0.224724,0
4,5,405,"Machine Learning, HTML, JavaScript","Machine Learning, C++",0.296453,0

In [5]:
import pandas as pd
import math

def jaccard_similarity(user_skills1, user_skills2):
    set1 = set(user_skills1.split(', '))
    set2 = set(user_skills2.split(', '))
    
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    
    if union == 0:
        return 0
    return intersection / union

# Function to calculate Cosine Similarity
def cosine_similarity(user_skills1, user_skills2):
    skills_list1 = user_skills1.split(', ')
    skills_list2 = user_skills2.split(', ')
    
    all_skills = list(set(skills_list1).union(set(skills_list2)))
    
    vec1 = [1 if skill in skills_list1 else 0 for skill in all_skills]
    vec2 = [1 if skill in skills_list2 else 0 for skill in all_skills]
    
    dot_product = sum([vec1[i] * vec2[i] for i in range(len(all_skills))])
    magnitude1 = math.sqrt(sum([v**2 for v in vec1]))
    magnitude2 = math.sqrt(sum([v**2 for v in vec2]))
    
    if magnitude1 == 0 or magnitude2 == 0:
        return 0
    
    return dot_product / (magnitude1 * magnitude2)


# Input two user IDs for comparison
user_id1 =1
user_id2 =4

# Extract user skills based on User_ID
user1_skills = df.loc[df['User_ID'] == user_id1, 'User_Skills'].values[0]
user2_skills = df.loc[df['User_ID'] == user_id2, 'User_Skills'].values[0]

# Calculate similarities
jaccard_score = jaccard_similarity(user1_skills, user2_skills)
cosine_score = cosine_similarity(user1_skills, user2_skills)
if jaccard_score > 0.5 or cosine_score > 0.5:
    recommendation = "The users have similar skills. Recommendation: Yes."
else:
    recommendation = "The users do not have similar skills. Recommendation: No."

# Output the results
print(f"Comparison between User_ID {user_id1} and User_ID {user_id2}:")
print(f"Jaccard Similarity: {jaccard_score}")
print(f"Cosine Similarity: {cosine_score}")
print(recommendation)

Comparison between User_ID 1 and User_ID 4:
Jaccard Similarity: 0.5
Cosine Similarity: 0.6666666666666667
The users have similar skills. Recommendation: Yes.

In [6]:
str='jhvhjua'
s=sorted(str)[0]

In [7]:
idx=str.index(s)

In [8]:
idx

6